<html>
<template id="nameTagTemplate">
    <style> @import "includes/template.css"; </style>
    <div class="outer">
        <div class="boilerplate">
            Hi! My name is 111
        </div>
        <div class="name">
            <!-- official spec. only implemented in Safari nightly
                <slot name="merlin"></slot>
            -->
            <content></content>
        </div>
    </div>
</template>
<body>
<div class="web-component">
    <label>name-badge</label>
    <name-badge>
        <!-- official spec. only implemented in Safari nightly
        <span slot="merlin">Merlin</slot>
        -->
        <span>Merlin</span>
    </name-badge>
</div>

<script src="includes/template.js"></script>
</body>
</html>